.RollDice{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.RollDice-Container{
    display: flex;
}

.RollDice button {
    width: 15em;
padding: 1.5em;
border: 0;
border-radius: 10px;
color: white;
background: black;
margin-top: 3em;

}

.RollDice button:hover {
    background: darkslateblue;
    cursor: pointer;
}
.RollDice button:disabled {
    background: rgb(42, 36, 78);
    cursor: pointer;
}

.rolling {
    animation-name: wobble; animation-duration: 1s
}

@keyframes wobble {
    from{
        transform: translate3d(0,0,0);
    }
    15%{
        transform: translate3d(-25%,0,0) rotate3d(0,0,1, -5deg);
    }
    30% {
        transform: translate3d(20%,0,0) rotate3d(0,0,1, 3deg);
    }
    45%{
        transform: translate3d(-15%,0,0) rotate3d(0,0,1, -3deg);
    }
    60%{
        transform: translate3d(10%,0,0) rotate3d(0,0,1, 2deg);
    }
    75%{
        transform: translate3d(-5%,0,0) rotate3d(0,0,1, -1deg);
    }
    to{
        transform: translate3d(0,0,0);
    }
}
